<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CelebrIA</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/faviconAsoIA.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <!-- Header section -->
    <div class="header">
        <img src="{{ url_for('static', filename='img/logoAsoIA.svg') }}" alt="logo Asociación IA" class="logo">
        <div class="enunciado">
            Buscando coincidencias
            <img src="{{ url_for('static', filename='img/linea.svg') }}" alt="linea" class="linea">        
        </div>
    </div>
    
    <!-- Main content section -->
    <div class="main-content">
        <img src="{{ url_for('static', filename='img/CelebrIA.svg') }}" alt="CelebrIA" class="título">
        
        <div class="camera-container">
            <div class="rectangulo">
                <div class="loading-spinner"></div>
                <p class="loading-text">Analizando tu imagen...</p>
            </div>
        </div>
        
        <img src="{{ url_for('static', filename='img/robot.svg') }}" alt="Robot" class="robot">
    </div>
    
    <!-- Footer section -->
    <div class="footer">
        <div class="social-media">
            <img src="{{ url_for('static', filename='img/logo_insta.svg') }}" alt="Instagram" class="logo_insta">
            <p class="instagram">UPCT_AI</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='carga.js') }}"></script>
</body>
</html>
