<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CelebrIA</title>
    <link rel="icon" type="image/x-icon" href="../Static/img/faviconAsoIA.ico">
    <link rel="stylesheet" href="../Static/index.css">
    <script src="../Static/index.css"></script> 
</head>

<body>
    <img src="../Static/img/logoAsoIA.svg" alt="logo Asociación IA" class="logo">
    <center>
    <div class="enunciado">
        Buscando coincidencias
        <img src="../Static/img/linea.svg" alt="linea" class="linea">        
    </div>
</center>
    <img src="../Static/img/CelebrIA.svg" alt="CelebrIA" class="título">
    
    <div class="rectangulo" href="../Static/index.js">
        <video id="webcam" autoplay></video>
    </div>
    <script src="../Static/carga.js"></script>

</body>

</html>
