<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Te pareces a:</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/faviconAsoIA.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    
</head>

<body>
    <!-- Header section -->
    <div class="header">
        <img src="{{ url_for('static', filename='img/logoAsoIA.svg') }}" alt="logo Asociación IA" class="logo">
        <div class="enunciado">
            Te pareces a:
            <img src="{{ url_for('static', filename='img/linea.svg') }}" alt="linea" class="linea">        
        </div>
    </div>
    
    <!-- Main content section -->
    <div class="main-content">
        <img src="{{ url_for('static', filename='img/CelebrIA.svg') }}" alt="CelebrIA" class="título">
        
        <div class="photos-container">
            <img class="flechai" src="{{ url_for('static', filename='img/caret-cuadrado-derecha.svg') }}">
            <div class="cuadrado1">
                <!-- Aquí se mostrará tu foto -->
            </div>
            <div class="cuadrado2">
                <!-- Aquí se mostrará el primer famoso -->
            </div>
            <div class="cuadrado3">
                <!-- Aquí se mostrará el segundo famoso -->
            </div>
            <div class="cuadrado4">
                <!-- Aquí se mostrará el tercer famoso -->
            </div>
            <img class="flechad" src="{{ url_for('static', filename='img/caret-cuadrado-derecha.svg') }}">
        </div>
    </div>

    <div class="button-wrapper">
        <button id="take-another-photo" class="boton">TOMAR OTRA FOTO</button>
    </div>
    
    <!-- Footer section -->
    <div class="footer">
        <div class="social-media">
            <img src="{{ url_for('static', filename='img/logo_insta.svg') }}" alt="Instagram" class="logo_insta">
            <p class="instagram">UPCT_AI</p>
        </div>
    </div>

    <canvas id="canvas" style="display: none;"></canvas>
    <script src="{{ url_for('static', filename='resultado.js') }}"></script>
</body>

</html>
