<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Te pareces a:</title>
    <link rel="icon" type="image/x-icon" href="../Static/img/faviconAsoIA.ico">
    <link rel="stylesheet" href="../Static/index.css">

</head>

<body>
    <center>
    <img src="../Static/img/logoAsoIA.svg" alt="logo Asociación IA" class="logo">
    <div class="enunciado">
        Te pareces a:
        <img src="../Static/img/linea.svg" alt="linea" class="linea">        
    </div>
</center>
    <img src="../Static/img/CelebrIA.svg" alt="CelebrIA" class="título">
        <img class="flechai" src="../Static/img/caret-square-left-1.svg"></img>
        <div class="cuadrado1">
        <!--img src=""/ aquí van las imágenes del algoritmo-->
        </div>
        <div class="cuadrado2">
        <!--img src=""/ aquí van las imágenes del algoritmo-->
        </div>
        <div class="cuadrado3">
        <!--img src=""/ aquí van las imágenes del algoritmo-->
        </div>
         <div class="cuadrado4">
            <!--img src=""/ aquí van las imágenes del algoritmo-->
        </div>
        <img class="flechad" src="../Static/img/caret-cuadrado-derecha.svg"></img>
    <p class="instagram">
        INSTA_ASOCIACION_IA
    </p>
    <img src="../Static/img/logo_insta.svg" alt="Instagram" class="logo_insta">

    <canvas id="canvas" style="display: none;"></canvas>
</body>

</html>
